header{
    background-color: rgba(233, 210, 0, 0.5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-right: 70px ;
    text-align: right;
    width: 100%;
  }
